<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openthinks.svm.core.mapper.BizSequenceVwMapper">
  <resultMap id="BaseResultMap" type="com.openthinks.svm.core.model.BizSequenceVw">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="prj_id" jdbcType="BIGINT" property="prjId" />
    <result column="next" jdbcType="INTEGER" property="next" />
    <result column="min" jdbcType="INTEGER" property="min" />
    <result column="max" jdbcType="INTEGER" property="max" />
    <result column="continus" jdbcType="BIT" property="continus" />
    <result column="prj_short_name" jdbcType="VARCHAR" property="prjShortName" />
    <result column="prj_full_name" jdbcType="VARCHAR" property="prjFullName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, prj_id, next, min, max, continus, prj_short_name, prj_full_name
  </sql>
  <select id="selectByExample" parameterType="com.openthinks.svm.core.model.BizSequenceVwExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_sequence_vw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="com.openthinks.svm.core.model.BizSequenceVwExample" resultType="java.lang.Long">
    select count(*) from b_sequence_vw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.openthinks.svm.core.model.BizSequenceVwExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_sequence_vw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <!-- generated by SelectOneByExamplePlugin Fri Nov 15 09:21:35 CST 2019 -->
  <select id="selectOneByExample" parameterType="com.openthinks.svm.core.model.BizSequenceVwExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_sequence_vw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>